# Terraform local state
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Credenciales y secretos (AWS/Azure/GCP)
*.pem
*.key
secrets.tfvars

# Logs y datos temporales
*.log
edge_node/mosquitto/data/*
!edge_node/mosquitto/data/.gitkeep
